@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<html ng-app="FifthEditionEncounters">
<head>

    <base href="/"/> @*For html5Mode*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="http://maps.google.com/maps/api/js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularapp")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/extensions")
</head>
<navbar></navbar>

<div class="container">
    <div ng-view>

    </div>
</div>
</html>
